image_pose_1.png filter=lfs diff=lfs merge=lfs -text
april_tag_mount.stl filter=lfs diff=lfs merge=lfs -text
image_pose_4.png filter=lfs diff=lfs merge=lfs -text
image_pose_5.png filter=lfs diff=lfs merge=lfs -text
image_pose_6.png filter=lfs diff=lfs merge=lfs -text
image_pose_7.png filter=lfs diff=lfs merge=lfs -text
image_pose_8.png filter=lfs diff=lfs merge=lfs -text
image_pose_2.png filter=lfs diff=lfs merge=lfs -text
image_pose_3.png filter=lfs diff=lfs merge=lfs -text
image_pose_25.png filter=lfs diff=lfs merge=lfs -text
image_pose_26.png filter=lfs diff=lfs merge=lfs -text
image_pose_14.png filter=lfs diff=lfs merge=lfs -text
image_pose_15.png filter=lfs diff=lfs merge=lfs -text
image_pose_20.png filter=lfs diff=lfs merge=lfs -text
image_pose_23.png filter=lfs diff=lfs merge=lfs -text
image_pose_10.png filter=lfs diff=lfs merge=lfs -text
image_pose_11.png filter=lfs diff=lfs merge=lfs -text
image_pose_24.png filter=lfs diff=lfs merge=lfs -text
image_pose_30.png filter=lfs diff=lfs merge=lfs -text
test_image.png filter=lfs diff=lfs merge=lfs -text
image_pose_17.png filter=lfs diff=lfs merge=lfs -text
image_pose_19.png filter=lfs diff=lfs merge=lfs -text
image_pose_29.png filter=lfs diff=lfs merge=lfs -text
image_pose_9.png filter=lfs diff=lfs merge=lfs -text
image_pose_21.png filter=lfs diff=lfs merge=lfs -text
image_pose_22.png filter=lfs diff=lfs merge=lfs -text
image_pose_27.png filter=lfs diff=lfs merge=lfs -text
image_pose_28.png filter=lfs diff=lfs merge=lfs -text
image_pose_12.png filter=lfs diff=lfs merge=lfs -text
image_pose_13.png filter=lfs diff=lfs merge=lfs -text
image_pose_16.png filter=lfs diff=lfs merge=lfs -text
image_pose_18.png filter=lfs diff=lfs merge=lfs -text
test_image_output.png filter=lfs diff=lfs merge=lfs -text
